@using Newtonsoft.Json.Linq
@using wygrzebforum.Models

@page "/Browse"

<div class="article-results">
    <ul style="list-style-type: none;">
        @for (int i = 0; i < this.articles.Count; i++)
        {
            Article a = this.articles[i];

            <li>  
                <table class="table table-striped table-light" style="width: 50em;">
                    <thead>
                        <tr>
                            <th>
                                <p>@a.title</p>
                                <i style="font-size: 0.7em">data utworzenia: @a.creationDate</i> <br />
                                <i style="font-size: 0.7em">liczba wyświetleń: @a.viewCount</i>
                            </th>
                            <th class="up-down-group">
                                <div class="btn-up">
                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                          <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                        </svg>
                                    </button>
                                    @a.upvotes
                                </div>
                                <div class="btn-down">
                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                          <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg> 
                                    </button>
                                    @a.downvotes
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr> 
                            <td colspan="2">
                                <img src="@a.thumbail" title="@a.title" alt="miniaturka" width="250" height="250" class="img-thumbnail article-img" />
                                <p class="article-content">@a.content</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <hr />
            </li>
        }
    </ul>
</div>

@code {
    //JArray articles = new();
    List<Article> articles = new();

    protected override async Task OnInitializedAsync()
    {
        // fetch json from api
        var url = "https://localhost:44392/article/recent";
        var httpClient = new HttpClient();
        var content = await httpClient.GetStringAsync(url);
        var temp = await Task.Run(() => JArray.Parse(content));
        this.articles = temp.ToObject<List<Article>>();
    }
}
